.main{
    height: 60vh;
}


.background1{
    background-color: red;
}

.background2{
    background-color: blue;
}

.background3{
    background-color: yellow;
}

.background4{
    background-color: green;
}

.background5{
    background-color: cyan;
}

.h1{
    font-size: 40px;
    font-weight: bold;
    color: black;
}